<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            body {
                    background-image: url("https://images.clarin.com/2018/10/15/-Bq2_0GZP_1256x620__1.jpg");
            } 
             
            </style>
</head>
<section id="stuck_container">
        <!--==============================
                    Stuck menu
        =================================-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-darl">
          <a class="navbar-brand" href="{% url 'home' %}">Cerra Session</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Evento
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'formularioEvento' %}">Agregar Evento</a>
                  <a class="dropdown-item" href="{% url 'ListadoEvento' %}">Listar Evento</a>
                
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Agente Pastorales
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'formularioAgente' %}">Agregar Agente Pastorales</a>
                  <a class="dropdown-item" href="{% url 'ListadoAgente' %}">Listar Agente Pastorales</a>
                </div>
              </li>
          </div>
        </nav>
        </section>
        
<body>
    <h1 style="color: aqua" >Ingreso de Agente Pastorales </h1>
        <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre" style="color: aqua" style="font-size: xx-small">Nombre Agente Pastorales:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="ingrese nombre">
                </div>
                <div class="form-group">
                    <label for="apellido" style="color: aqua" >Apellido Agente Pastorales:</label>
                    <input type="text" class="form-control" id="apelllido" name="apellido" placeholder="ingrese apellido ">
                </div>
                <div class="form-group">
                    <label for="edad" style="color: aqua" >Edad  </label>
                    <input type="number" class="form-control" id="edad" name="edad" placeholder="ingrese Edad">
                </div>
                <div class="form-group">
                    <label for="tipoPersona" style="color: aqua" >Seleccione Tipo Persona:</label>
                    <select class="form-control" id="tipoPersona" name="tipoPersona">
                        <option>Seleccione</option>
                        
                            <option value="Agente Pastorales">Agente Pastorales</option>
                            <option value="Agente Pastorales">Coordinador </option>
                            <option value="Agente Pastorales">Ministro Comunion</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="comu" style="color: aqua" >Seleccione Tipo Comunidad:</label>
                    <select class="form-control" id="comu" name="comu">
                        <option>Seleccione</option>
                        {% for dato in tipos %}
                            <option value="{{dato.id}}">{{dato.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
              }
                <button type="submit" class="btn btn-primary" >Agregar</button>
          
                <h1>{{mensaje}}</h1>
              
            </form>
</body>
</html>

