<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body {
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Iglesia_San_Juan_del_Hospital_%28Valencia%29.jpg/1200px-Iglesia_San_Juan_del_Hospital_%28Valencia%29.jpg")
    } 
     
    </style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-darl">
        <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <li class="nav-item dropdown">
          <a style="color: white"class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidad
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'formulario' %}">Agregar Comunidad</a>
            <a class="dropdown-item" href="{% url 'ListadoComunidad' %}">Listar Comunidad</a>
            
        </li>
            <li class="nav-item dropdown">
              <a  style="color: white"class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Evento
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'formularioEvento' %}">Agregar Evento</a>
                <a class="dropdown-item" href="{% url 'ListadoEvento' %}">Listar Evento</a>
              
            </li>
            <li class="nav-item dropdown">
              <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Agente Pastorales
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'formularioAgente' %}">Agregar Agente Pastorales</a>
                <a class="dropdown-item" href="{% url 'ListadoAgente' %}">Listar Agente Pastorales</a>
              </div>
            </li>
            <li  style="color: white"class="nav-item dropdown">
              <a  style="color: white"class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Solicitudes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'formularioSolicitud' %}">Agregar Solicitud</a>
                <a class="dropdown-item" href="{% url 'ListadoSolicitud' %}">Listar Solicitud</a>
                
              </div>
            </li>
        </div>
      </nav>
      </section>
    <h1 style="color: white">Listado de Comunidad</h1>
    <hr>
    
          <table class="table" >
                <thead class="thead-dark">

                  <tr>
                    <th scope="col" style="color: white">#</th>
                    <th scope="col" style="color: white">Nombre Comunidad</th>
                    <th scope="col" style="color: white">Ubicacion</th>
                    <th scope="col" style="color: white">Nombre Cordinadores</th>
                    <th scope="col" style="color: white">Nombre agentes Pastorales</th>
                    <th scope="col" style="color: white">Nombre Ministro Comunion</th>
                  </tr>
                </thead>
              
                <tbody>
                  {% for fila in listaComunidad %}
                  <tr class="info">
                    <th scope="row" style="color: white">{{fila.id}}</th>
                    <td style="color: white">{{fila.nombre}}</td>
                    <td style="color: white">{{fila.ubicacion}}</td>
                    <td style="color: white">{{fila.nombreCordinadores}}</td>
                    <td style="color: white">{{fila.nombresAgentesPastorales}}</td>
                    <td style="color: white">{{fila.nombresMisnistroComunion}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
                

   <br>
  


</body>
</html>